<ion-header >
  <ion-toolbar >
    <ion-title>小C助手</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content #content>
    <div class="content-container">
        <div class="recommend">
            <div class="title">
                <div class="tip"><span>你可以这么问</span></div>
                <div class="opt" tappable (click)="changeQuestionList()"><ion-icon class="refresh" name="refresh"></ion-icon><span>换一换</span></div>
            </div>
            <div class="btns exps">
                <ng-container *ngFor="let item of topQuestionList">
                    <div tappable (click)="dealText(item.text)"><ion-icon class="volume-high" name="volume-high"></ion-icon><span>{{item?.text}}</span></div>
                </ng-container>
            </div>
<!--            <ng-container *ngTemplateOutlet="exps"></ng-container>-->
        </div>
        <div class="recommend">
            <div class="title">
                <div class="tip"><span>大家都在用</span></div>
            </div>
            <div class="btns comm-use">
                <ng-container *ngFor="let item of topUseingList">
                    <div class="btn" tappable (click)="goTo(item.text)"><span>{{item?.text}}</span></div>
                </ng-container>
            </div>
        </div>
<!--        <div>-->
<!--            <ion-button (click)="onPress($event)">start</ion-button>-->
<!--            <ion-button (click)="onPressUp($event)">stop</ion-button>-->
<!--        </div>-->
        <ng-container *ngFor="let item of allList">
<!--            右侧语音输入-->
            <ng-container *ngIf="item.inputFlag">
<!--                <div class="container" [ngClass]="{right: item.inputFlag, left: !item.inputFlag}">-->
                <div class="container right">
                    <section class="text-area">
                        <div class="arrow"></div>
                        <p>{{item.text}}</p>
                    </section>
                </div>
            </ng-container>
<!--            左侧返回内容-->
            <ng-container *ngIf="!item.inputFlag">
                <div class="container left" [ngSwitch]="item.type">
                    <ng-container *ngSwitchCase="0">
                        <section class="text-area">
                            <div class="arrow"></div>
                            <p>{{item.text}}</p>
                        </section>
<!--                        <ng-container *ngTemplateOutlet="exps2; context: item"></ng-container>-->
                        <div class="btns exps">
                            <ng-container *ngFor="let question of item.questionList">
                                <div tappable (click)="dealText(question.text)"><ion-icon class="volume-high" name="volume-high"></ion-icon><span>{{question?.text}}</span></div>
                            </ng-container>
                        </div>
                    </ng-container>
                    <ng-container *ngSwitchCase="1">
                        <div class="list-info" *ngFor="let fct of item?.fct_list">
                            <div><ion-icon class="volume-high" [name]="fct.iconNm || 'stat'"></ion-icon><span>{{fct?.fct_nm}}</span></div>
<!--                            <div><ion-icon class="refresh" name="refresh"></ion-icon><span>{{fct?.fct_nm}}</span></div>-->
                        </div>
                    </ng-container>
                    <ng-container *ngSwitchCase="2">
                        <ng-container *ngIf="item.bus_type === 'Business_expiration'">
                            <div class="list-info" *ngFor="let fct of item?.bus_list">
                                <div>{{fct?.cust_nm}}有{{fct?.money}}元的{{fct?.bus_nm}}在{{fct?.due_time}}到期</div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="item.bus_type === 'Future_bills'">
                            <div class="list-info" *ngFor="let fct of item?.bus_list">
                                <div>{{fct?.cust_nm}}在{{fct?.due_time}}有{{fct?.money}}元的人行电票承兑</div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="item.bus_type === 'opportunities'">
                            <div>为您找到以下商机:</div>
                            <div class="list-info" *ngFor="let fct of item?.bus_list">
                                <div>{{fct?.cust_nm}} {{fct?.bus_nm}}</div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="item.bus_type === 'new_regist'">
                            <div>新注册企业</div>
                            <div class="list-info" *ngFor="let fct of item?.bus_list">
                                <div>{{fct?.cust_nm}}</div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="item.bus_type === 'task'">
                            <div>为您找到以下任务:</div>
                            <div class="list-info" *ngFor="let fct of item?.bus_list">
                                <div>{{fct?.cust_nm}} {{fct?.bus_nm}}</div>
                            </div>
                        </ng-container>
                    </ng-container>
                    <ng-container *ngSwitchCase="3">
                        <div class="list-info">
                            <div>
                                <span>{{item?.cust_nm}}在我行一般性存款{{item?.dps}}，结构性存款{{item?.struct_dps}},一般性贷款{{item?.loan}},对公理财{{item?.financial}}</span>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngSwitchCase="4">
                        <div class="list-info">
                            <div>
                                <div>{{item?.cust_nm}}在我行{{item?.inf_nm}}{{item?.value}}</div>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngSwitchCase="5">
                        <ng-container *ngIf="item.bus_type === 'Business_expiration'">
                            <div class="list-info" *ngFor="let fct of item?.bus_list">
                                <div>该公司有{{fct?.money}}元的{{fct?.bus_nm}}在{{fct?.due_time}}到期</div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="item.bus_type === 'Future_bills'">
                            <div class="list-info" *ngFor="let fct of item?.bus_list">
                                <div>该公司在{{fct?.due_time}}有{{fct?.money}}元的人行电票承兑</div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="item.bus_type === 'opportunities'">
                            <div>为您找到以下商机:</div>
                            <div class="list-info" *ngFor="let fct of item?.bus_list">
                                <div>{{fct?.bus_nm}}</div>
                            </div>
                        </ng-container>
                        <!--                            <ng-container *ngIf="item.bus_type === 'new_regist'">-->
                        <!--                                <div>新注册企业</div>-->
                        <!--                                <div>{{fct?.cust_nm}}</div>-->
                        <!--                            </ng-container>-->
                        <ng-container *ngIf="item.bus_type === 'task'">
                            <div>为您找到以下任务:</div>
                            <div class="list-info" *ngFor="let fct of item?.bus_list">
                                <div>{{fct?.bus_nm}}</div>
                            </div>
                        </ng-container>
                    </ng-container>
                </div>
            </ng-container>
        </ng-container>
        <svg class="svg" id="svgDom" width="200" height="200" *ngIf="showSvg">
            <circle cx="80" cy="80" r="0" stroke="#FF6666" stroke-width="5" fill-opacity="0">
                <animate attributeName="r" id="ani1" begin="0" from="0" to="50" dur="1.5s" repeatCount="indefinite"></animate>
                <animate attributeName="opacity" begin="0" from="1" to="0" dur="1.5s" repeatCount="indefinite"></animate>
            </circle>
            <circle cx="80" cy="80" r="0" stroke="#FF6666" stroke-width="5" fill-opacity="0">
                <animate attributeName="r" begin="ani1.begin + 0.5s" from="0" to="50" dur="1.5s" repeatCount="indefinite"></animate>
                <animate attributeName="opacity" begin="ani1.begin + 0.5s" from="1" to="0" dur="1.5s" repeatCount="indefinite"></animate>
            </circle>
            <circle cx="80" cy="80" r="0" stroke="#FF6666" stroke-width="5" fill-opacity="0">
                <animate attributeName="r" begin="ani1.begin + 1s" from="0" to="50" dur="1.5s" repeatCount="indefinite"></animate>
                <animate attributeName="opacity" begin="ani1.begin + 1s" from="1" to="0" dur="1.5s" repeatCount="indefinite"></animate>
            </circle>
        </svg>
    </div>
</ion-content>

<ion-footer>
    <div class="footer">
        <div class="tip"><span>长按说话</span></div>
        <div class="voice">
            <div class="press-area" (press)="onPress($event)" (pressup)="onPressUp($event)">
                <img src="../../assets/images/voice.png" alt="">
            </div>
        </div>
    </div>
</ion-footer>

<!--<ng-template #textArea>-->
<!--    <section class="text-area">-->
<!--        <div class="arrow"></div>-->
<!--        <p>{{item.text}}</p>-->
<!--    </section>-->
<!--</ng-template>-->
<!--<ng-template #exps let-list="list">-->
<!--    <div class="btns exps">-->
<!--        <ng-container *ngFor="let item of topQuestionList">-->
<!--            <div tappable (click)="dealText(item.text)"><span>{{item?.text}}</span></div>-->
<!--        </ng-container>-->
<!--    </div>-->
<!--</ng-template>-->
<!--<ng-template #exps2 let-questionList="questionList">-->
<!--    <div class="btns exps">-->
<!--        <ng-container *ngFor="let item of questionList">-->
<!--            <div tappable (click)="changeQuestionList()"><span>{{item?.text}}</span></div>-->
<!--        </ng-container>-->
<!--    </div>-->
<!--</ng-template>-->


